---
import { withSeoOptions, Common } from "@/config";

import { loadArticles, loadProjects } from "@/api/content";
import { stripSuffix } from "@/api/utils";

import Layout from "@/layouts/Index.astro";

import ArticleList from "@/components/ArticleList.astro";
import Link from "@/components/Link.astro";

const canonical = Astro.url.href;
const ogImage = `${stripSuffix(canonical, "/")}/index.og.png`;

const props = withSeoOptions({
  canonical,
  openGraph: {
    basic: {
      image: ogImage,
    },
    image: {
      url: ogImage,
      secureUrl: ogImage,
      alt: Common.title,
    },
  },
});

const articles = await loadArticles({ sort: "desc" });
const projects = await loadProjects();

// Links.
const email = `mailto:${Common.email}`;
const bandcamp = ``;
const spotify = ``;
const discord = `discord.com/users/762782226307350599`;
---

<Layout {...props}>
  <!-- Introduction. -->
  <section class="flex flex-col gap-4">
    <h2
      class:list={["text-2xl font-semibold", "text-gray-900 dark:text-gray-50"]}
    >
      Hello! 👋
    </h2>

    <p class="text-gray-800 dark:text-gray-300">
      I'm a highschool student programming FTC robots, competing in competitive
      coding contests, and building webpages using modern tech stack. You can
      reach me at my <Link to={discord} external>Discord</Link>. You can also
      reach me via <Link to={email}>email</Link>.
    </p>

    <p class="text-gray-800 dark:text-gray-300"></p>
  </section>

  <!-- Articles. -->
  <section class="flex flex-col gap-4">
    <h2
      class:list={["text-2xl font-semibold", "text-gray-900 dark:text-gray-50"]}
    >
      Articles
    </h2>

    <p class:list={["mb-2", "text-gray-800 dark:text-gray-300"]}>
      I write about my experiences, tutorials, and whatever else I feel like.
    </p>

    <ArticleList items={articles} />
  </section>

  <!-- Projects. -->
  <section class="flex flex-col gap-4">
    <h2
      class:list={["text-2xl font-semibold", "text-gray-900 dark:text-gray-50"]}
    >
      Projects
    </h2>

    <p class:list={["mb-2", "text-gray-800 dark:text-gray-300"]}>
      Some of my projects.
    </p>

    <ul
      class:list={[
        "grid gap-4 w-full max-w-[100vw]",
        "grid-cols-1 sm:grid-cols-2 md:grid-cols-3",
        "[grid-auto-rows:minmax(0,auto)] sm:[grid-auto-rows:minmax(10rem,auto)]",
      ]}
    >
      {
        projects.map((project) => (
          <li
            class:list={[
              "group/card",
              "flex flex-col gap-2 p-4 rounded-lg transition-all ease-in-out duration-200",
              "bg-gray-100/50 dark:bg-gray-400/5",
              "hover:bg-gray-50 dark:hover:bg-gray-400/10",
              "hover:shadow-neon hover:scale-[1.02]",
            ]}
          >
            <Link
              to={project.data.url}
              class:list={["group/title inline-flex w-min", "!font-medium"]}
              underline={false}
              external
            >
              <span class="inline">{project.data.name}</span>
              <span
                class:list={[
                  "inline select-none transition-colors",
                  "text-gray-500 dark:text-gray-400",
                  "group-hover/title:text-crayola-500 dark:group-hover/title:text-crayola-300",
                ]}
              >
                {project.data.language.ext}
              </span>
            </Link>

            <div
              class:list={[
                "cursor-default transition-colors",
                "text-gray-500 dark:text-gray-400",
                "group-hover/card:text-gray-700 dark:group-hover/card:text-gray-300",
              ]}
              set:html={project.data.description}
            />
          </li>
        ))
      }
    </ul>

    <p class="text-gray-800 dark:text-gray-300">
      <Link to="https://github.com/ishaanko" external underline={false}>
        See all projects &srarr;
      </Link>
    </p>
  </section>
</Layout>
